<!doctype html>
<head>
    <meta charset="utf-8" />
  <style>
      /*.button-area {border:1px dashed lawngreen;}*/
      /*#place {border:1px dotted gray;}*/
  </style>
</head>

<h1>I am RoofPig. Hear me oink!</h1>

<body>
  <div class="roofpig" style="height:600px; width: 500px; float:left" data-alg="F L'" data-flags=""/>
  </div>

  <div class="roofpig" style="height:300px; width: 250px; float:right" data-alg="F R U' D R'" data-flags=""/>
  </div>

  <!--<div class="roofpig" style="height:300px; width: 250px"-->
       <!--data-alg="F U' B' U F' U' B" data-hover="2.5" data-solveto="FL">-->
  <!--</div>-->
</body>
