<!doctype html>
<head>
    <meta charset="utf-8" />
  <style>
      /*.button-area {border:1px dashed lawngreen;}*/
      /*#place {border:1px dotted gray;}*/
  </style>

  <script>
    ROOFPIG_PREF_P1 = { hover: "2"}
  </script>
</head>

<h1>I am RoofPig. Hear me oink!</h1>

<body>
  <!--<div class="roofpig" style="height:600px; width: 500px; float:left" data-alg="F L'"  />-->
  <!--</div>-->
  <!--<div class="roofpig" style="height:300px; width: 250px; float:left" data-alg="F L'"  data-hover="50"/>-->
  <!--</div>-->
  <!--<div class="roofpig" style="height:180px; width: 160px; float:left" data-hover="1.01" data-alg="F R U' D R' F R U' D R' F R U' D R' F R U' D R' F R U' D R' F R U' D R' F R U' D R' " data-flags=""/>-->
  <!--</div>-->
<!--<hr/>-->
  <div class="roofpig" style="height:300px; width: 250px;" data-pref="P1" data-solved="UFR*" data-alg="L2 D U2 B2 L U' F U' F U' F' U' F2 UZ R2 U F R' F' R F' R2 F R' F R F' R2 F D R2 D' R' D R D' R' D R' D' R2">
  </div>
  <div class="roofpig" style="height:180px; width: 160px;" data-pref="P1" data-colored="U* f/e" data-alg="L2 D U2 B2 L U' F U' F U' F' U' F2 UZ R2 U F R' F' R F' R2 F R' F R F' R2 F D R2 D' R' D R D' R' D R' D' R2">
  </div>
  <div class="roofpig" style="height:160px; width: 140px;" data-pref="P1" data-solved="DFL* DBL*" data-colored="u/me r/me" data-setup="F' U F" data-alg="D' B' ">
  </div>

  <!--<div class="roofpig" style="height:300px; width: 250px"-->
       <!--data-alg="F U' B' U F' U' B" data-hover="2.5" data-solveto="FL">-->
  <!--</div>-->
</body>
