<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>Pig on the Roof</title>
  <style>
      .roofpig  {border:1px dotted red;}
      .button-area {border:1px dashed purple;}
      .button-row {border:1px dotted orange; margin-left:auto; margin-right:auto; }

      button {height:40px; width:60px; font-size: 20px; font-weight: bolder}
      #place {border:1px dotted gray; font-size: 20px; float: right;}
  </style>
</head>

<body>
  <div id="canvas_1" class="roofpig" style="height:600px; width: 500px" data-alg="F U F' U F U2 F'">
    <div id="buttons_1" class="button-area" style="height:100px; width: 500px">
        <div id="buttons_1c" class="button-row" style="width:320px;/"/>
    </div>
  </div>

  <div id="canvas_2" class="roofpig" style="height:300px; width: 250px" data-alg="F U' B' U F' U' B U2" data-hover="2.5">
    <div id="buttons_2" class="button-area" style="height:50px; width: 250px">
      <div id="buttons_2c" class="button-row" style="width:240px;"/>
    </div>
  </div>
</body>
