<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>Pig on the Roof</title>
  <style>
      #canvas_1  {border:1px dotted red; height:600px; width: 500px}
      #buttons_1 {border:1px dashed purple; height:100px; width: 500px}
      #buttons_1c {border:1px dotted orange; width:320px; margin-left:auto; margin-right:auto; }

      button {height:40px; width:60px; font-size: 20px; font-weight: bolder}
      #place {border:1px dotted gray; font-size: 20px; float: right;}
  </style>
</head>

<body>
  <div id="canvas_1" data-alg="F U F' U F U2 F'">
    <div id="buttons_1">
        <div id="buttons_1c"/>
    </div>
  </div>
</body>
