<!doctype html>
<head>
    <meta charset="utf-8" />
  <style>
      /*.button-area {border:1px dashed lawngreen;}*/
      /*#place {border:1px dotted gray;}*/
  </style>

  <script>
    ROOFPIG_PREF_P1 = { colors:"plastic:white", hover: "1.5"}
  </script>
</head>

<h1>I am RoofPig. Hear me oink!</h1>

<body>
  <div class="roofpig" style="height:305px; width: 250px;" data-pref="P1" data-solved="UFR*" data-tweaks="UFR:XxX UBR:BBB" data-flags="showalg" data-alg="D' R' D R' D' R2"></div>
  <div class="roofpig" style="height:195px; width: 160px;" data-pref="P1" data-flags="showalg" data-alg="L2 D U2 B2 L U' F U' F U' D' R' D R' D' R2"></div>
  <div class="roofpig" style="height:175px; width: 140px;" data-pref="P1" data-solved="DFL* DBL*" data-colored="u/me r/me" data-setup="F' U F" data-flags="showalg" data-alg="D' B' D' B' D' B' D' B' D' B' D' B'"></div>
</body>
