<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>Pig on the Roof</title>
</head>

<body>
  <div id="canvas_1" style="background-color:#ccf; height:600px; width: 500px">
    <div id="buttons_1" style="background-color:#fcc; height:100px; width: 500px">
      <button type="button" id="back"> ◀ </button>
      <button type="button" id="pause"> || </button>
      <button type="button" id="forward"> ▶ </button>
    </div>
  </div>
</body>
