<!doctype html>
<head>
    <meta charset="utf-8" />
  <style>
      /*.button-area {border:1px dashed lawngreen;}*/
      /*#place {border:1px dotted gray;}*/
  </style>
</head>

<body>
  <div class="roofpig" style="height:600px; width: 500px" data-alg="F U F' U F U2 F'"/>
  </div>

  <div class="roofpig" style="height:300px; width: 250px"
       data-alg="F U' B' U F' U' B" data-hover="2.5" data-solve-to="FL">
  </div>
</body>
