<html>
<head>
  <meta charset="utf-8">
  <title>Mocha Tests</title>
  <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet" />
</head>
<body>
<div id="mocha"></div>

<!-- All JS source files have to be listed manually here, in dependency order. I'd love to learn a better way! -->

<script src="../../lib/jquery-3.1.1.min.js"></script>
<script src="https://cdn.rawgit.com/chaijs/chai/2.3.0/chai.js"></script>
<script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>

<script src="../../lib/three.min.js"></script>

<script src="src/utils.js"></script>
<script src="src/Layer.js"></script>
<script src="src/moves/Alg.js"></script>
<script src="src/Camera.js"></script>
<script src="src/Colors.js"></script>
<script src="src/moves/CompositeMove.js"></script>
<script src="src/Config.js"></script>
<script src="src/Css.js"></script>
<script src="src/CubeAnimation.js"></script>
<script src="src/Cubexp.js"></script>
<script src="src/Dom.js"></script>
<script src="src/EventHandlers.js"></script>
<script src="src/moves/SingleMove.js"></script>
<script src="src/moves/Move.js"></script>
<script src="src/Pieces3D.js"></script>
<script src="src/PovTracker.js"></script>
<script src="src/Tweaks.js"></script>
<script src="src/document.js"></script>
<script src="src/changers/TimedChanger.js"></script>
<script src="src/changers/AlgAnimation.js"></script>
<script src="src/changers/CameraMovement.js"></script>
<script src="src/changers/ConcurrentChangers.js"></script>
<script src="src/changers/MoveExecution.js"></script>
<script src="src/changers/OneChange.js"></script>

<script>
  mocha.setup('bdd');
  var expect = chai.expect
</script>

@@TEST_FILES_GO_HERE@@

<script>
  //  mocha.checkLeaks();
  //  mocha.globals(['jQuery']);
  mocha.run();
</script>
</body>
</html>


